---
import TopNavBar from "../components/TopNavBar.astro"
import Shabull from "../components/Shabull.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="container-lg mx-auto">
		<TopNavBar/>
		<Shabull/>	
		<h2>Barra lateral de link Fix css etc</h2>

<div class="nf nf-dev-chrome center"></div>
	</body>
</html>
