---
import { Image } from "astro:assets";
import ShabullDR from "../assets/Shabull.jpeg"
import '@fontsource/roboto-mono'
---

<section class="container mx-auto flex flex-row">
    <div class="flex"><Image src={ShabullDR} alt="A very handsome developer" width={300}></div>
    <div>
        <h1>Hi I am Shabull, Full-Stack Web Developer</h1>
    </div>
</section>

