<header>
    <nav>
        <ul>
            <a href="#home"><li>Home</li></a>
        </ul>

        <ul>
            <a href="#About"><li>About</li></a>
        </ul>

        <ul>
            <a href="#Proyectos"><li>Proyectos</li></a>
        </ul>
    </nav>
</header>
  
