---
import "@fontsource/roboto-mono"
---

<header class="container mx-auto">
    <nav class=" flex flex-row justify-between mx-8 my-8">
        <ul class="flex flex-row">
            <a href="#" class="mx-4"><li>Home</li></a>
            <a href="#" class="mx-4"><li>About</li></a>
            <a href="#" class="mx-4"><li>Projects</li></a>
            <a href="#" class="mx-4"><li>Contact</li></a>
        </ul>
        <ul class="flex flex-row">
            <a href="#" class="mx-4"><li>CV</li></a>
            <a href="#" class="mx-4"><li>Blog</li></a>
        </ul>
    </nav>
</header>
  
